<ion-content padding>
  <ng-container *ngIf="health$ | async as health; else game">
    <button no-margin full ion-button full (click)="updateHealth()">HP: {{ health }}</button>
    <div class="healthbar">
      <div [ngStyle]="{width: health <= 100 ? 100 - health + '%' : '0%'}"></div>
    </div>
  </ng-container>
  <ng-template #game>
    <button color="danger" no-margin full ion-button full (click)="restartGame()">Restart</button>
  </ng-template>

  <ion-grid *ngIf="qanta$ | async as qanta">
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Dark'] }}</div>
          <div>Dark</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Dark')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Dark')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Dark.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Water'] }}</div>
          <div>Water</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Water')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Water')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Water.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Death'] }}</div>
          <div>Death</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Death')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Death')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Death.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Life'] }}</div>
          <div>Life</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Life')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Life')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Life.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Earth'] }}</div>
          <div>Earth</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Earth')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Earth')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Earth.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Aether'] }}</div>
          <div>Aether</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Aether')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Aether')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Aether.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Fire'] }}</div>
          <div>Fire</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Fire')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Fire')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Fire.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Air'] }}</div>
          <div>Air</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Air')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Air')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Air.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Gravity'] }}</div>
          <div>Gravity</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Gravity')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Gravity')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Gravity.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Entropy'] }}</div>
          <div>Entropy</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Entropy')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Entropy')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Entropy.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Time'] }}</div>
          <div>Time</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Time')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Time')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Time.jpg" />
      </ion-col>
      <ion-col>
        <div class="element-details">
          <div>{{ qanta['Light'] }}</div>
          <div>Light</div>
        </div>
        <div class="buttons">
          <button no-margin color="danger" (click)="remove('Light')" ion-button>-</button>
          <button no-margin color="primary" (click)="add('Light')" ion-button>+</button>
        </div>
        <img src="/assets/imgs/elements/Light.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <button full outline ion-button (click)="addRandomQanta()">Add Random Qanta</button>
</ion-content>