ion-col {
  display: flex;
  flex-direction: column;
  padding: 20px;
  img {
    width: 28px;
    height: 28px;
  }
  .element-details {
    display: flex;
    justify-content: space-between;
    span {
      display: flex;
      flex: 20;
    }
  }
  .buttons {
    display: flex;
    button {
      flex: 50;
    }
  }
}
