<ion-header>
  <button full *ngIf="health$ | async as health" ion-button full (click)="updateHealth(health)">HP: {{ health }}</button>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="qanta$ | async as qanta">
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Dark'] }}</span>
          <span>Dark</span>
          <img src="/assets/imgs/elements/Dark.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Dark')" ion-button>-</button>
          <button color="primary" (click)="add('Dark')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Water'] }}</span>
          <span>Water</span>
          <img src="/assets/imgs/elements/Water.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Water')" ion-button>-</button>
          <button color="primary" (click)="add('Water')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Death'] }}</span>
          <span>Death</span>
          <img src="/assets/imgs/elements/Death.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Death')" ion-button>-</button>
          <button color="primary" (click)="add('Death')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Life'] }}</span>
          <span>Life</span>
          <img src="/assets/imgs/elements/Life.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Life')" ion-button>-</button>
          <button color="primary" (click)="add('Life')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Earth'] }}</span>
          <span>Earth</span>
          <img src="/assets/imgs/elements/Earth.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Earth')" ion-button>-</button>
          <button color="primary" (click)="add('Earth')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Aether'] }}</span>
          <span>Aether</span>
          <img src="/assets/imgs/elements/Aether.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Aether')" ion-button>-</button>
          <button color="primary" (click)="add('Aether')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Fire'] }}</span>
          <span>Fire</span>
          <img src="/assets/imgs/elements/Fire.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Fire')" ion-button>-</button>
          <button color="primary" (click)="add('Fire')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Air'] }}</span>
          <span>Air</span>
          <img src="/assets/imgs/elements/Air.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Air')" ion-button>-</button>
          <button color="primary" (click)="add('Air')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Gravity'] }}</span>
          <span>Gravity</span>
          <img src="/assets/imgs/elements/Gravity.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Gravity')" ion-button>-</button>
          <button color="primary" (click)="add('Gravity')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Entropy'] }}</span>
          <span>Entropy</span>
          <img src="/assets/imgs/elements/Entropy.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Entropy')" ion-button>-</button>
          <button color="primary" (click)="add('Entropy')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Time'] }}</span>
          <span>Time</span>
          <img src="/assets/imgs/elements/Time.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Time')" ion-button>-</button>
          <button color="primary" (click)="add('Time')" ion-button>+</button>
        </div>
      </ion-col>
      <ion-col>
        <div class="element-details">
          <span>{{ qanta['Light'] }}</span>
          <span>Light</span>
          <img src="/assets/imgs/elements/Light.jpg" />
        </div>
        <div class="buttons">
          <button color="danger" (click)="remove('Light')" ion-button>-</button>
          <button color="primary" (click)="add('Light')" ion-button>+</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button full outline ion-button (click)="addRandomQanta()">Add Random Qanta</button>
</ion-content>
