ion-col {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  img {
    position: absolute;
    z-index: -1;
    $width: 40px;
    left: calc(50% - 20px);
    top: 0;
    width: $width;
    height: $width;
  }
  .element-details {
    display: flex;
    justify-content: space-between;
    div {
      flex: 50%;
      text-align: center;
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    button {
      flex: 50;
    }
  }
}

.healthbar {
  background: green;
  z-index: -1;
  opacity: 0.8;
  height: 10px;
  display: block;
  div {
    position: relative;
    display: block;
    background: red;
    height: 100%;
    float: right;
  }
}
